/*@import './variables';*/
/*@import './fonts';*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @font-face {
  font-family: 'Exodus II';
  src: url('/fonts/exodus_ii_display.woff2') format('woff2'), url('/fonts/exodus_ii_display.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Exodus II';
  src: url('/fonts/exodus_ii_m2.woff2') format('woff2'), url('/fonts/exodus_ii_m2.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
 */
html{
  font-size:10px; /* rem */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* font-family: 'Exodus II', serif; */
}

@media (min-width: 720px) {
  html {
    /*font-size: calc(8/720 * 100vw);*/
  }
}

body{
  font-size: 1.5rem;
  line-height: calc(37/33);
}

pre{
  font-family:inherit;
}

button {
  text-transform: inherit;
  font-weight:inherit;
  &:focus{
    outline:none;
  }
}

input{
  border-radius:0;
}

::selection {
  background: white;
  color:black;
}


/* large text */


small {
  /* font-size:inherit; */
  @apply font-medium;
}

/* sections */
section {
  @apply my-135;
  /* date */
  & > div {
    @apply mt-24;
    & p {
      @apply text-gray-500
    }
  }
}
