/*@import './variables';*/
/*@import './fonts';*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Exodus II';
  src: url('/fonts/exodus_ii_display.woff2') format('woff2'), url('/fonts/exodus_ii_display.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

html{
  font-size:10px; /* rem */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Exodus II', sans-serif;
}